.accordin-wrapper{
    display: flex;
    border: 1px solid black;
    width: 50vw;
    margin: auto;
    justify-content: space-around;
    background: rgb(229, 110, 6);
    align-items: center;
}
.accordin-wrapper .sp{
    font-size: 18px;
    color: white;
}
.accordin-content{
    display: flex;
    width: 50vw;
    margin: auto;
    background: green;
    color: white;
}