.app-overlay{
    z-index:1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #3b3a3a;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.9;
}
.app-head{
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 90%;

}
.btn-right{
    top: 0;
    right: 0;
    background-color: black;
    opacity: 1;
    color: white;
    margin-right: 20px;
    position: absolute;
    cursor: pointer;
}