
.header {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 1.4em;
    background: linear-gradient(135deg, #df5b5b, #8ed56a);
    position: relative;
  }
  
 
  .header h3 {
    color: aliceblue; 
    margin: 0;
    font-size: 24px;
  }
  
  
  .nav ul {
    display: flex;
    list-style-type: none;
  }
  
  ul li a {
    text-decoration: none;
    color: aliceblue;
  }
  
  
  .menu-icon {
    display: none; 
    cursor: pointer;
    margin-left: auto; 
    margin-right: 1em;
  }
  
  
  ul li a{
    padding: 5px 10px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    transition: all 0.4s ease-in;
  }
  
  ul li a:hover{
    padding: 10px 20px;
    background: #ccc;
    color: black;
    text-decoration: none;
    border-radius: 20px;
}
  
  .nav {
    display: flex;
  }
  
  .nav ul {
    flex-direction: row;
  }
  
  @media (max-width: 670px) {
    .menu-icon {
      display: block; 
    }
   
    .nav {
      display: none; 
    }

    .nav.open {
      display: block;
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      background-color: #021a14; /* Background for dropdown menu */
      padding: 1rem;
      z-index: 1;
    }
  
    .nav ul {
      flex-direction: column;
      align-items: center;
    }
  
    ul li {
      padding: 15px 0; 
      text-align: center;
    }

    ul li a:hover{
        padding: 10px 20px;
        background: #ccc;
        color: black;
        text-decoration: none;
        border-radius: 20px;
    }
  
    .header h3 {
      z-index: 2; 
    }
  }
  
  @media (max-width: 480px) {
    .nav.open {
      background: #ccc;
    }
  
    ul li a {
      font-size: 16px; 
    }
  
    .header h3 {
      font-size: 20px; 
    }
  }
  