body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
  }
  
  .star-rating {
    display: flex;
    gap: 5px;
  }
  
  .star {
    font-size: 2em;
    color: rgb(161, 159, 152);
    cursor: pointer;
    transition: color 0.3s;
  }
  .star.selected,
  .star:hover {
    color: gold;
  }
  