*{
margin: 0;
padding:0;
}

.contain{
    display: flex;
    align-items: center;
}

.left-contain{
    border: 1px solid black;
    flex: 0.3;
    background-color:peachpuff;
    height: 100vh;
}
.right-contain{
    flex: 0.7;
    border: 1px solid black;
}
.right-contain>img{
    height: 500px;
    width: 1000px;
    object-fit: cover;
}